body{
  font-family: sans-serif;
  font-size: 1.8em;
  color: #ececec;
  text-shadow: 0 0 5px #2d2d2d;
  margin: 0;
}

.panels {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.panel {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition:
    font-size .7s,
    flex .7s;
}

.panel > p {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .7s;
}

.panel.open {
  flex: 3;
}

.panel > p:first-child {transform: translateY(-100%);}
.panel.open-active > p:first-child {transform: translateY(0);}
.panel > p:last-child {transform: translateY(100%);}
.panel.open-active > p:last-child {transform: translateY(0);}

.panel-1{
  background-image: url('https://images.unsplash.com/photo-1477404412166-fd97d0a23453?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
}

.panel-2{
  background-image: url('https://images.unsplash.com/photo-1474433188271-d3f339f41911?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=');
}
.panel-3{
  background-image: url('https://images.unsplash.com/uploads/1412797503202f5ef9cc0/412c1378?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
}
.panel-4{
  background-image: url('https://images.unsplash.com/photo-1445093446913-34933e71f8ea?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
}
